.advantages {
  color: #333333;
}

.advantages__list {
  padding-top: 22px;
  padding-bottom: 20px;

  text-align: left;
  list-style: none;

  display: flex;
  flex-direction: column;
}

.advantages__item {
  width: @content-width;
  margin: 0 auto;
  display: block;
}

.advantages__item-title {
  font-size: @title-font-size;
  line-height: @title-line-height;
  font-weight: 700;

  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  margin-left: 30px;
}

.advantages__item-text {
  display: block;

  margin-bottom: 29px;
  margin-left: 30px;
}

.advantages__item-last {
  margin-bottom: 0;
}

.advantages__item--housing {
  position: relative;
}

.advantages__item--housing::before {
  content: "";

  position: absolute;
  top: -8px;
  left: -20px;

  width: 40px;
  height: 37px;

  background-image: url("../img/icon-house-mobile.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}
.advantages__item--souvenirs {
  position: relative;
}

.advantages__item--souvenirs::before {
  content: "";

  position: absolute;
  top: -12px;
  left: -16px;

  width: 35px;
  height: 40px;

  background-image: url("../img/icon-gift-mobile.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.advantages__item--food {
  position: relative;
}

.advantages__item--food::before {
  content: "";

  position: absolute;
  top: -8px;
  left: -20px;

  width: 38px;
  height: 35px;

  background-image: url("../img/icon-burger-mobile.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

@media (max-width: @mobile-width-only) {
  .advantages__item--food br:nth-child(2n) {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .advantages__list {
    padding: 0;
    flex-direction: row;
    justify-content: space-around;

    text-align: center;
  }

  .advantages__item--housing {
    order: 1;
  }

  .advantages__item--food {
    order: 2;
  }

  .advantages__item--souvenirs {
    order: 3;
  }

  .advantages__item {
    width: 256px;
    padding-right: 45px;
    padding-left: 45px;
    padding-top: 142px;
    padding-bottom: 52px;
    box-sizing: border-box;
  }

  .advantages__item-title,
  .advantages__item-text {
    margin: 0;
  }

  .advantages__item-title {
    font-size: 21px;

    margin-bottom: 23px;
  }

  .advantages__item--housing::before {
    content: "";

    position: absolute;
    top: 45px;
    left: 90px;

    width: 83px;
    height: 74px;

    background-image: url("../img/icon-house-tablet.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
  }

  .advantages__item--souvenirs::before {
    content: "";

    position: absolute;
    top: 45px;
    left: 95px;

    width: 83px;
    height: 74px;

    background-image: url("../img/icon-gift-tablet.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
  }

  .advantages__item--food::before {
    content: "";

    position: absolute;
    top: 47px;
    left: 90px;

    width: 83px;
    height: 74px;

    background-image: url("../img/icon-burger-tablet.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
  }

  .advantages__item--food br:nth-child(2n+1) {
    display: none;
  }
}

@media (max-width: @pre-desktop-width-only) {
  .advantages__item--souvenirs br {
    display: none;
  }

  .reason--bridge .reason__text br {/*здесь тройная вложенность, но не вижу смысла задавать класс br или .reason__text*/
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .advantages__list {
    justify-content: space-between;
    width: 1200px;
  }

  .advantages__item {
    width: 400px;
    padding-right: 55px;
    padding-left: 55px;
    padding-bottom: 72px;
  }

  .advantages__item-text {
    width: 288px;
  }

  .advantages__item--housing::before {
    left: 160px;
  }

  .advantages__item--souvenirs::before {
    left: 165px;
  }

  .advantages__item--food::before {
    left: 160px;
  }
}
