.button {
  font-style: bold;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: @text-light;

  background-color: @text-info;

  width: @width;

  border: none;
}

.page-form__button {
  margin: 0;
  padding: 0;
  margin-left: @padding-side;
  margin-right: @padding-side;
  margin-top: 25px;
  margin-bottom: 37px;
}
