.button {
  padding-top: @indent-side;
  padding-bottom: @indent-side;
  font-size: @button-font-size;
  line-height: @button-line-height;
  font-weight: 700;
  color: @text-light;
  background-color: @text-info;
  width: @content-width;
  border: none;
  text-transform: uppercase;
}
