.commercial__content {
  padding-top: 33px;
  padding-bottom: 50px;
  padding-right: @indent-side;
  padding-left: @indent-side;

  text-align: center;
}

.commercial__title {
  font-size: @heading-font-size;
  line-height: @heading-line-height;
  font-weight: 700;

  padding: 0;
  margin: 0 auto;
  margin-bottom: 30px;
  width: @content-width;
}

.commercial__text {
  line-height: @text-line-height;

  display: block;
  width: @content-width;
  margin: 0 auto;
}

.commercial__link {
  text-decoration: none;
  display: block;
  width: @content-width;
  margin: 0 auto;
  margin-top: 40px;
}

.commercial--inner .commercial__text {
  width: 240px;
}

.commercial__map {
  background-image: url("../img/bg-map-mobile@1x.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;

  background-color: #cbe0a4;

  min-height: 350px;
}

.commercial__video {
  background-image: url("../img/video-mobile@1x.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;

  display: block;
  height: 200px;
  width: 320px;
  margin: 0 auto;
}

@media (max-width: @mobile-width-only) {
  .commercial__text br {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .commercial__text,
  .commercial__link {
    width: 460px;
  }

  .commercial--inner .commercial__text {
    width: 430px;
  }

  .commercial__video {
    background-image: url("../img/video-mobile@1x.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;

    background-size: @tablet-content-width 499px;

    height: 499px;
    width: @tablet-content-width;
  }
}

@media (min-width: @desktop-width) {
  .commercial__content {
    padding-top: 57px;
    padding-bottom: 67px;
  }

  .commercial__video {
    background-image: url("../img/video-mobile@1x.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;

    background-size: 800px 500px;

    height: 500px;
    width: 800px;
  }
}
