.commercial--photo {
  padding-bottom: 68px;
}

.commercial--photo .commercial__wrapper {
  position: relative;
  width: 320px;
  margin: 0 auto;
}

.commercial__content {
  padding-top: 25px;
  padding-bottom: 47px;
  padding-right: @indent-side;
  padding-left: @indent-side;

  text-align: center;
}

.commercial__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  padding: 0;
  margin: 0 auto;
  margin-bottom: 20px;
  width: @content-width;
}

.commercial__text {
  line-height: @text-line-height;

  display: block;
  width: @content-width;
  margin: 0 auto;
}

.commercial__link {
  text-decoration: none;
  display: block;
  margin: 0 auto;
  margin-top: 35px;
}

.commercial--inner .commercial__content {
  padding-top: 33px;
  padding-bottom: 35px;
}

.commercial--inner .commercial__title {
  font-size: 18px;
  margin-bottom: 28px;
}

.commercial--inner .commercial__text {
  width: 240px;
}

.commercial__map {
  background-image: url("../img/bg-map-mobile@1x.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f3f1ed;
  height: 350px;

  position: relative;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.jpg");
    background-size: cover;
  }
}

.commercial__map::after {
  content: "";

  position: absolute;
  top: 45%;
  left: 48%;

  width: 28px;
  height: 28px;

  background-image: url("../img/icon-map-marker.svg");
  background-repeat: no-repeat;
  z-index: 0;
}

.commercial__interactive-map {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.commercial__video-block {
  display: flex;
  flex-direction: column;
}

.commercial__video {
  display: block;
  height: 200px;
  width: 320px;
  background-color: #e09781;
  margin: 0 auto;
}

.commercial__scrolling {
  position: absolute;

  top: 350px;
  left: 20px;

  width: 280px;
  height: 45px;
  background-color: rgba(56, 57, 32, 0.6);
}

.commercial__scrolling-slider {
  width: 235px;
  margin: 0 auto;
  height: 2px;
  padding-top: 1px;
  background: rgba(133, 133, 133, 0.6);
  margin-top: 20px;
}

.commercial__scrolling-toggle {
  margin-left: 114px;
  margin-top: -4px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffffff;
}

.commercial__scrolling-images {
  margin: 0 auto;
  width: 280px;
  height: 67px;
  background-color: #f2f2f2;
  padding-left: 23px;
  padding-right: 20px;
  padding-top: 21px;
  box-sizing: border-box;
}

.commercial__image-subtitles {
  margin-left: 112px;
  margin-right: 13px;
}

.commercial__image-replay,
.commercial__image-subtitles,
.commercial__image-fullscreen {
  fill: #5c6870;
}

.commercial__scrolling-button {
  background-color: transparent;
  outline: none;
  border: 0;
}

.commercial__scrolling-button:hover {
  fill: #333333;
}

.commercial__scrolling-button:active {
  fill: #b8b8b8;
}

@media (max-width: @mobile-width-only) {
  .commercial__text br {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .commercial__content {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .commercial--photo .commercial__wrapper {
    width: 768px;
  }

  .commercial--photo .commercial__content {
    padding-bottom: 73px;
  }

  .commercial--photo {
    padding-top: 30px;
    padding-bottom: 42px;
  }

  .commercial__title {
    font-size: 30px;

    width: 400px;
    margin-bottom: 30px;
  }

  .commercial--photo .commercial__title {
    margin-bottom: 32px;
    font-size: 30px;
    line-height: 26px;
  }

  .commercial__text,
  .commercial__link {
    width: 460px;
  }

  .commercial__link {
    margin-top: 42px;
  }

  .commercial--inner .commercial__text {
    width: 430px;
  }

  .commercial__map {
    background-image: url("../img/bg-map-tablet@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.jpg");
    }
  }

  .commercial__map::after {
    top: 45%;
    left: 49%;
  }

  .commercial__video {
    height: 499px;
    width: @tablet-content-width;
  }

  .commercial__scrolling {
    position: absolute;

    width: 280px;
    height: 45px;
    background-color: rgba(56, 57, 32, 0.6);

    left: 60px;
    top: 618px;

    width: 648px;
    height: 93px;
    z-index: 0;
  }

  .commercial__scrolling-slider {
    width: 390px;
    margin-left: 94px;
    margin-top: 45px;
  }

  .commercial__scrolling-images {
    position: absolute;
    top: 633px;
    left: 60px;

    width: 640px;
    padding-left: 30px;
    background-color: transparent;
    z-index: 1;
  }

  .commercial__image-replay,
  .commercial__image-subtitles,
  .commercial__image-fullscreen {
    fill: #ffffff;
  }

  .commercial__image-subtitles {
    margin-left: 455px;
    margin-right: 18px;
  }

  .commercial__scrolling-button:hover {
    fill: #c2c2c2;
  }

  .commercial__scrolling-button:active {
    fill: #949494;
  }
}

@media (min-width: @desktop-width) {
  .commercial--photo {
    padding-bottom: 80px;
  }

  .commercial--photo .commercial__wrapper {
    width: 1200px;
  }

  .commercial__content {
    padding-top: 57px;
    padding-bottom: 67px;
  }

  .commercial--photo .commercial__content {
    padding-top: 40px;
    padding-bottom: 70px;
  }

  .commercial__link {
    margin-top: 45px;
  }

  .commercial__map {
    background-image: url("../img/bg-map-desktop@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.jpg");
    }
  }

  .commercial__map::after {
    top: 45%;
    left: 49%;
  }

  .commercial__video {
    height: 498px;
    width: 800px;
  }

  .commercial__scrolling {
    left: 200px;
    top: 623px;
    width: 800px;
  }

  .commercial__scrolling-slider {
    width: 538px;
  }

  .commercial__scrolling-images {
    top: 635px;
    width: 800px;
    margin-left: 140px;
  }

  .commercial__image-subtitles {
    margin-left: 608px;
    margin-right: 15px;
  }
}
