.form {
  margin: 0;
  padding: 0;
}

.form__group {
  border: none;

  margin: 0;
  padding: 0;
  padding-top: @padding-top;
  padding-bottom: @padding-bottom;
  border-bottom: @border;
  padding-left: @padding-side;
  padding-right: @padding-side;
  margin-top: @padding-top;
}


.form__group-heading {
  text-align: center;

  font-size: @title-font-size;
  line-height: @title-line-height;
  font-weight: 700;
}

.form__group-title {
  font-style: normal;
  line-height: @title-line-height;
  font-weight: 400;
}

.form__field {
  font-size: @placeholder-font-size;
  line-height: @placeholder-line-height;
  font-weight: 700;

  border: 0;
  outline: none;

  padding: @padding-side;

  background-color: @semi-dark;

  .form__field()
}

.form__group-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.form__inner {
  margin: 0;
  padding: 0;

  padding-top: @padding-top;
  padding-bottom: @padding-bottom;

  text-align: center;
}

.form__field-message {
  width: 240px;
  min-height: 160px;
}

.form__phone {
  width: 58px;
  height: 58px;
  background: #e6e6e6;

  position: relative;
}

.form__phone::before {
  content: "";

  position: absolute;
  top: 20px;
  left: 20px;

  width: 19px;
  height: 19px;

  background-image: url(../img/icon-phone.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.form__email {
  width: 58px;
  height: 58px;
  background: #e6e6e6;

  position: relative;
}

.form__email::before {
  content: "";

  position: absolute;
  top: 20px;
  left: 20px;

  width: 17px;
  height: 17px;

  background-image: url(../img/icon-mail.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}
