.main-nav {
  background-color: @text-info;

  text-align: center;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__link {
  font-size: @main-nav-font-size;
  line-height: 40px;
  font-weight: 700;
  color: @text-light;
  text-decoration: none;
}
