.main-nav {
  margin: 0;
  padding: 0;
  background-color: @text-info;
  text-align: center;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: @text-info;
}

.main-nav__item {
  padding-top: 8px;
  padding-bottom: 8px;
}

.main-nav__link {
  font-size: @main-nav-font-size;
  line-height: 40px;
  font-weight: 700;
  color: @text-light;
  text-decoration: none;
}

@media (min-width: @tablet-width) {
  .main-nav {
    background-color: @text-light;
  }

  .main-nav__link {
    color: @text-dark;
  }

  .main-nav__list {
    display: flex;
  }

  .main-nav__button {
    display: none;
  }

  .main-nav__link {
    color: @text-dark;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
  }

  .main-nav__list {
    background-color: @text-light;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .main-nav__item {
    width: 153px;
    padding-top: 12px;
    padding-bottom: 16px;
  }

  .main-nav__item:nth-child(2) {
    margin-right: 148px;
  }
}

@media (min-width: @desktop-width) {

  .main-nav__item:nth-child(1) {
    margin-left: 90px;
  }
}
  }

  .main-nav__item:nth-child(2) {
    margin-right: 188px;
  }
}
