.page-form {
  margin: 0;
  padding: 0;
}

.page-form__button {
  display: block;
  margin: 0 auto;
  margin-top: 24px;
  margin-bottom: 37px;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .page-form__button {
    margin-bottom: 60px;
    width: @tablet-item-width;
    padding-right: 18px;
  }

  .page-form__inner {
    margin: 0;
    padding: 0;
    padding-left: @tablet-padding-side;
    padding-right: @tablet-padding-side;
  }
}

@media (min-width: @desktop-width) {
  .page-form__button {
    width: 480px;
    margin-bottom: 67px;
  }

  .page-form__inner {
    padding: 0;
    padding-left: @desktop-padding-side;
    padding-right: @desktop-padding-side;
  }
}
