.page-intro {
  padding-right: @indent-side;
  padding-left: @indent-side;
  padding-top: 27px;
  text-align: center;
  width: @content-width;
  margin: 0 auto;
}

.page-intro--border {
  border-bottom: @border;
}

.page-intro__title {
  font-size: @title-font-size;
  line-height: @title-line-height;
  font-weight: 700;

  margin-bottom: 28px;
}

.page-intro__text {
  line-height: @title-line-height;
}

.page-intro--inner {
  padding-top: 24px;
  padding-bottom: 3px;
}

.page-intro--inner .page-intro__title {
  margin-bottom: 26.5px;
}

.page-intro--inner .page-intro__text {
  line-height: 24px;
}

.photo .page-intro--inner {
  padding-bottom: 14px;
}

@media (max-width: @mobile-width-only) {
  .page-form .page-intro__text br {
    display: none;
  }

  .photo .page-intro__text br:nth-child(1) {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .photo .page-intro--inner {
    padding-bottom: 55px;
  }

  .photo .page-intro__text br:nth-child(2) {
    display: none;
  }

  .page-intro__title {
    font-size: 21px;
  }

  .page-intro--inner .page-intro__title {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .page-intro {
    padding-top: 34px;
    padding-bottom: 36.5px;
    width: 490px;
  }

  .page-intro--inner {
    padding-top: 55px;
    padding-bottom: 59px;
    width: 450px;
  }

  .page-intro--border {
    border-bottom: none;
  }

  .page-intro__title br:nth-child(1) {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .page-intro--inner {
    padding-top: 93px;
    padding-bottom: 45px;
  }

  .photo .page-intro--inner {
    padding-bottom: 47px;
  }
}
