.page-footer {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 23px;
  padding-left: 85px;
  padding-right: 85px;
}

.page-footer__hashtag {
  font-size: @hashtag-font-size;
  line-height: @hashtag-line-height;
  font-weight: 700;
}
