.page-intro {
  padding-right: 35px;
  padding-left: 35px;
  padding-top: 42px;

  text-align: center;
}

.page-intro__title {
  margin: 0;
  padding: 0;
  font-style: bold;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.page-intro__text {
  margin: 0;
  padding: 0;
  line-height: 26px;
}

.page-intro--decoration {
  padding-bottom: 8px;
}

.page-intro--inner {
  padding-right: @padding-side;
  padding-left: @padding-side;
  padding-top: 40px;
  padding-bottom: 28px;
}
