.photo__wrapper {
  border-top: @border;
  margin: 0 auto;
}

.photo__description {
  display: flex;
  flex-direction: column;
}

.photo__meta {
  padding-top: 15px;
  width: @content-width;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .photo {
    padding-right: @tablet-padding-side;
    padding-left: @tablet-padding-side;
  }

  .photo__wrapper {
    display: flex;
    flex-wrap: wrap;
    border: none;
    width: @tablet-content-width;
  }

  .photo__meta {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-around;
    width: @tablet-item-width;

    background-color: #f2f2f2;
  }

  .promo-photo--first .photo__meta {
    width: @tablet-content-width;
  }

  .photo__description {
    width: 200px;
    padding-left: @indent-side;

    flex-grow: 1;
  }
}

@media (min-width: @desktop-width) {
  .photo {
    padding: 0;
  }

  .photo__wrapper {
    width: @desktop-width;
    padding-top: 10px;
  }

  .photo__meta {
    background-color: rgba(0,0,0,0.5);

    width: 400px;

    position: absolute;
    z-index: 1;
    top: 185px;
    left: 0;
  }

  .photo__description {
    color: #ffffff;
  }

  .promo-photo--first .photo__meta {
    top: 318px;
    left: 0;
    width: @desktop-width;
  }
}
