.photo {
  margin: 0;
  padding: 0;
}

.photo__description {
  display: flex;
  flex-direction: column;
}


.photo__meta {
  padding-top: 15px;
  /*временно для сетки
  border: 1px solid red;*/
}

@media (min-width: @tablet-width) {
  .photo {
    margin: 0;
    padding: 0;
    margin-right: @tablet-padding-side;
    margin-left: @tablet-padding-side;
  }

  .photo__wrapper {
    display: flex;
    flex-wrap: wrap;
    /*временно для сетки
    border: 1px solid yellow;*/
  }

  .photo__meta {
    padding-bottom: 20px;
    display: flex;
    justify-content: space-around;

    background-color: #f2f2f2;
  }

  .photo__description {
    display: flex;
    flex-direction: column;
    width: 200px;

    flex-grow: 1;

    padding-left: @indent-side;
  }
}

@media (min-width: @desktop-width) {
  .photo {
    margin: 0;
    padding: 0;
  }

  .photo__wrapper {
    padding-top: 10px;
    /*временно для сетки
    border: 1px solid yellow;*/
  }

  .photo__meta {
    color: #ffffff;

    background-color: #000000;
    opacity: 0.5;

    position: relative;
    z-index: 1;

    margin-top: -82px;
  }
}
