.promo {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-color: #e1eef6;

  min-height: 390px;

  position: relative;
}

.promo--inner {
  background-position: 60% 80%;
  min-height: 160px;
}

@media (min-width: @tablet-width) {
  .promo {
    background-image: url("../img/bg-back-mobile@1x.jpg");
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: 1200px;

    min-height: 521px;
  }

  .promo--inner {
    background-position: 60% 80%;
    min-height: 300px;
  }
}

@media (min-width: @desctop-width) {
  .promo {
    background-image: url("../img/bg-back-mobile@1x.jpg");
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: 1200px;

    min-height: 521px;
  }
  }
