.promo-photo {
  padding-top: @indent-top;
  padding-bottom: 17px;

  border-bottom: @border;
  text-align: left;
}

.promo-photo__title {
  line-height: @promo-photo-line-height;
  font-weight: 700;
}

.promo-photo__subtitle {
  font-style: normal;
  line-height: @promo-photo-line-height;
  font-weight: 400;

  text-transform: none;
}

.promo-photo__like {
  position: relative;
  margin-top: 10px;
}

.promo-photo__like-number {
  margin-left: 37px;
}

.promo-photo__like-icon {
  position: absolute;
  top: -5px;
  left: 0;

  width: 22px;
  height: 22px;

  opacity: 0.3;
}

.promo-photo__image {
  display: block;
  width: @content-width;
  height: 280px;
  background-color: #eeb170;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .promo-photo {
    padding: 0;
    border-bottom: none;

    width: @tablet-item-width;
  }

  .promo-photo--first {
    width: @tablet-content-width;

    margin: 0 auto;
  }

  .promo-photo__image {
    width: 100%;
  }

  .promo-photo--first .promo-photo__image {
    height: 400px;
  }

  .promo-photo__image {
    height: 264px;
  }

  .promo-photo__like {
    width: 86px;
    box-sizing: border-box;
  }
}

@media (min-width: @desktop-width) {
  .promo-photo--first {
    width: @desktop-width;
  }

  .promo-photo {
    flex-grow: 1;
    position: relative;
  }

  .promo-photo__like {
    width: 85px;
    color: #ffffff;
  }

  .promo-photo__like-icon {
    opacity: 1;

    path {
      fill: #ffffff;
    }
  }

  .promo-photo__image {
    height: 267px;
  }
}
