.reason {
  color: @text-light;

  display: flex;
  flex-direction: column;
}

.reason__description {
  background-color: @text-info;

  padding-top: 43px;
  padding-bottom: 43px;
  padding-left: @indent-side;
  padding-right: @indent-side;
}

.reason__title {
  font-size: @title-font-size;
  line-height: @title-line-height;
  font-weight: 700;

  margin: 0;
  padding: 0;

  text-align: center;
}

.reason__index-number {
  width: 60px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;

  display: block;
}

.reason__text {
  width: 280px;
  margin: 0 auto;

  display: block;
  text-align: center;
}

.reason--secondary {
  color: @text-dark;
  background-color: @text-secondary;
}

.reason__wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  width: @content-width;
  margin: 0 auto;
}

.reason__border {
  border-bottom: @border;
}

.reason--decoration {
  position: relative;
  padding-top: 77px;
}

.reason--decoration::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  width: 320px;
  height: 40px;

  background-image: url("../img/bg-triangle.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  }

.reason__image {
  min-height: 260px;
  width: 320px;
  margin: 0 auto;
  background-color: #e2aa87;
}

.reasons__reason-description {
  background-color: #eeeeee;

  display: flex;
  flex-direction: column;
}

@media (min-width: @tablet-width) {
  .reason {
    flex-direction: row;
  }

  .reason--decoration::before {
    visibility: hidden;
  }

  .reason__description,
  .reason--secondary {
    width: 256px;
    padding: 45px;
    box-sizing: border-box;
  }

  .reason__index-number {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .reason__text {
    width: 165px;
  }

  .reason__image {
    flex-grow: 1;
  }

  .reasons__reason-description {
    flex-direction: row;
    justify-content: space-around;
  }

  .reason--order {
    order: 2;
  }

  .reason__image-order {
    order: 1;
  }

  .reason__wrapper {
    padding: 30px 0;
  }

  .reason__wrapper .reason__title {
    width: 122px;
    margin: 0 auto;
    padding: 0;
  }

  .reason__wrapper .reason__index-number {
    margin-top: 15px;
    margin-bottom: 30px;
  }

  .reason__border {
    border-bottom: none;
  }
}

@media (min-width: @desktop-width) {
  .reason__description,
  .reason--secondary {
    padding: 55px 67px;
    width: 400px;
  }

  .reason__wrapper {
    padding-top: 48px;
    padding-bottom: 66px;
  }

  .reason__title {
    width: 157px;
    margin: 0 auto;
  }

  .reason__text {
    width: 288px;
  }
}
