.reason {
  margin: 0;
  padding: 0;
  color: @text-light;
  background-color: @text-info;

  display: flex;
  flex-direction: column;
}

.reason__description {
  padding-top: 43px;
  padding-bottom: 43px;
}

.reason__title {
  font-size: @title-font-size;
  line-height: @title-line-height;
  font-weight: 700;

  margin: 0;
  padding: 0;

  text-align: center;
}

.reason__index-number {
  margin: 0;
  padding: 0;
  margin: 15px 130px;

  display: inline-block;
}

.reason__text {
  margin: 0;
  padding: 0;
  padding-left: @indent-side;
  padding-right: @indent-side;

  display: inline-block;
  text-align: center;
}

.reason--secondary {
  color: @text-dark;

  margin: 0;
  padding: 0;

  background-color: @text-secondary;
}

.reason__wrapper {
  padding: 0;
  margin-left: @indent-side;
  margin-right: @indent-side;
  padding-top: 30px;
  padding-bottom: 30px;
  width: @content-width;
}

.reason__wrapper .reason__index-number {
  margin-right: 110px;
  margin-left: 110px;
}

.reason__border {
  border-bottom: @border;
}

.reason--decoration {
  position: relative;
  padding-top: 77px;
}

.reason--decoration::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 320px;
  height: 40px;

  background-image: url("../img/bg-triangle.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  }

.reason__image {
  margin: 0;
  padding: 0;

  min-height: 260px;
  width: 320px;
  background-color: #e2aa87;
}

.reasons__reason-description {
  background-color: #eeeeee;

  display: flex;
  flex-direction: column;
}

@media (min-width: @tablet-width) {
  .reason {
    flex-direction: row;
  }

  .reason--decoration::before {
    visibility: hidden;
  }

  .reason__description {
    margin: 0;
    padding: 0;
    width: 256px;
    padding: 45px;
    box-sizing: border-box;
  }

  .reason__index-number {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 53px;
    margin-right: 53px;
  }

  .reason__text {
    padding: 0;
  }

  .reason__image {
    flex-grow: 1;
  }

  .reasons__reason-description {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .reason--order {
    order: 2;
  }

  .reason__image-order {
    order: 1;
  }

  .reason__wrapper {
    margin: 0;
    padding: 0;
    padding: 30px 50px;
    width: @advantages-tablet-width;
  }

  .reason__wrapper .reason__title {
    margin: 0;
    padding: 0;
    margin-right: 25px;
    margin-left: 25px;
  }

  .reason__wrapper .reason__index-number {
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: 52px;
    margin-right: 52px;
  }

  .reason__text-secondary {
    margin: 0;
    padding: 0;
  }

  .reason__border {
    border-bottom: none;
  }
}

@media (min-width: @desktop-width) {
  .reason__description {
    margin: 0;
    padding: 0;
    padding-top: 55px;
    padding-bottom: 55px;
    padding-right: 67px;
    padding-left: 67px;
    width: 400px;
  }

  .reason__index-number {
    margin-left: 100px;
    margin-right: 100px;
  }

  .reason__wrapper {
    margin: 0;
    padding: 0;
    padding-top: 48px;
    padding-bottom: 66px;
    padding-left: 57px;
    padding-right: 57px;
    width: @advantages-desktop-width;
  }

  .reason__wrapper .reason__title {
    margin: 0;
    margin-right: 80px;
    margin-left: 80px;
  }

  .reason__wrapper .reason__index-number {
    margin-left: 110px;
    margin-right: 110px;
  }
}
