@text-info: #81b3d2;

@text-secondary: #eeeeee;

@text-light: #ffffff;

@text-dark: #000000;

@dark-secondary: #d6d6d6;

@semi-dark: #f2f2f2;

@indent-side: 20px;

@tablet-padding-side: 60px;

@desktop-padding-side: 120px;

@desktop-commercial-padding: 80px;

@indent-top: 23px;

@main-nav-font-size: 18px;

@heading-font-size: 21px;

@button-font-size: 21px;

@hashtag-font-size: 21px;

@title-line-height: 26px;

@placeholder-line-height: 26px;

@hashtag-line-height: 26px;

@text-line-height: 24px;

@promo-photo-line-height: 24px;

@heading-line-height: 26px;

@button-line-height: 26px;

@content-width: 280px;

@border: 1px solid #d6d6d6;

@indent-side: 20px;

@indent-top: 23px;

@padding-bottom: 28px;

@tablet-width: 768px;

@tablet-content-width: 648px;

@desktop-width: 1280px;

@mobile-width-only: 767px;

@advantages-desktop-width: 288px;

